*.exe
*.cache
*.dll
*.log
aoyama-macchinetta/aoyama-macchinetta-domain/target/
aoyama-macchinetta/aoyama-macchinetta-web/target
aoyama-macchinetta/aoyama-macchinetta-env/target
aoyama-macchinetta/aoyama-macchinetta-initdb/target
aoyama-macchinetta/aoyama-macchinetta-selenium/target